.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-block img {
    width: 200px;
    margin-top: 20px;
}

.about-block h1 {
    margin: 20px 0 0;
}

.about-block p {
    margin: 10px 0;
}

.about-block a {
    color: royalblue;
}


