.anime-blocks {
    display: flex;
    justify-content: space-between;
}

.find-anime-ul {
    width: 49%;
    border: solid dodgerblue 1px;
    padding: 10px;
    list-style: none;
    margin: 15px 0 0;
    height: 500px;
    overflow-x: hidden;
}

.all-anime-ul {
    width: 49%;
    border: solid dodgerblue 1px;
    padding: 10px;
    margin: 15px 0 0;
    list-style: none;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.anime-li {
    background: grey;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
}